*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
button {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.is-hidden {
  display: none;
}

.wraper-heder-hero {
  min-width: 320px;
  max-width: 375px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  background-color: #00261d;
  background-image: url("../img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.conteiner {
  max-width: 375px;
  min-width: 320px;
  max-width: 375px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  padding-top: 15px;
}

.burger {
  position: absolute;
  top: 10px;
  right: 8px;
  width: 44px;
  height: 44px;
}

.burger__burger,
.burger__cross {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero .conteiner {
  display: flex;
  align-items: center;
  height: 615px;
  padding-top: 15px;
}

.hero__tytle {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.3;
  color: #fff;
}

.hero-accent {
  font-weight: 700;
  font-size: 48px;
}

.hero div {
  font-weight: 400;
  font-size: 28px;
  line-height: 130%;
  color: #fff;
}

.about-me {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-me__tytle {
  position: relative;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3;
  color: #333333;
  text-align: center;
  margin-bottom: 30px;
}

.about-me__tytle::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  height: 10px;
  width: 130px;
  background-color: rgba(0, 38, 29, 0.3);
}

.about-me__text {
  font-size: 16px;
  line-height: 1.6;
}

.about-me__text + .about-me__text {
  margin-top: 15px;
}

.expirients {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f6f6f8;
}

.expirients__tytle {
  position: relative;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3;
  color: #333333;
  text-align: center;
  margin-bottom: 30px;
}

.expirients__tytle::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  height: 10px;
  width: 120px;
  background-color: rgba(0, 38, 29, 0.3);
}

.expirients_img {
  width: 300px;
  height: 325px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.expirients__list {
  margin-top: 30px;
}

.expirients__item {
  font-weight: 600;
  font-size: 18px;
  line-height: 1;
  text-align: center;
}

.expirients_bar {
  display: flex;
  justify-content: center;
}

.expirients__bar1 {
  display: block;
  background-color: #005541;
  height: 32px;
  width: 100px;
}

.expirients__bar2 {
  display: block;
  background-color: #c5c5c5;
  height: 32px;
  width: 100px;
}

.expirients__item:nth-child(1) .expirients__bar1 {
  width: 255px;
}

.expirients__item:nth-child(2) .expirients__bar1 {
  width: 240px;
}

.expirients__item:nth-child(3) .expirients__bar1 {
  width: 183px;
}

.expirients__item:nth-child(1) .expirients__bar2 {
  width: 45px;
}

.expirients__item:nth-child(2) .expirients__bar2 {
  width: 60px;
}

.expirients__item:nth-child(3) .expirients__bar2 {
  width: 117px;
}

.expirients__item:not(:last-child) {
  margin-bottom: 24px;
}

.expirients_bar {
  margin-top: 5px;
}

.service {
  padding-top: 50px;
  padding-bottom: 50px;
}

.servise__header {
  position: relative;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3;
  color: #333333;
  text-align: center;
  margin-bottom: 30px;
}

.servise__header::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  height: 10px;
  width: 110px;
  background-color: rgba(0, 38, 29, 0.3);
}

.service__name {
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 15px;
  line-height: 1.3;
}

.servise__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.servise__item + .servise__item {
  padding-top: 30px;
}

.portfolio {
  padding-top: 10px;
  padding-bottom: 50px;
}

.portfolio__header {
  position: relative;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3;
  color: #333333;
  text-align: center;
  margin-bottom: 30px;
}
.portfolio__header::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  height: 10px;
  width: 130px;
  background-color: rgba(0, 38, 29, 0.3);
}

.filter__button {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  margin-top: 15px;
}
.filter__button:nth-child(1) {
  color: #005541;
  margin-top: 0;
}
.filter__button:hover {
  color: #005541;
  cursor: pointer;
  text-decoration-color: #005541;
  text-decoration-line: underline;
  text-decoration-style: double;
}

.portfolio__works {
  margin-top: 30px;
  margin-bottom: 30px;
}

.portfolio__works {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.portfolio__work {
  width: calc(50% - 7.5px);
}

.portfolio__link {
  display: block;
  width: 257px;
  height: 47px;
  background-color: #005541;
  margin-left: auto;
  margin-right: auto;
  line-height: 47px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.statistic__tytle {
  text-align: center;
  font-size: 14px;
  line-height: 1.3;
  color: #333333;
}

.feedback {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f6f6f8;
}

.feedback__header {
  position: relative;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3;
  color: #333333;
  text-align: center;
  margin-bottom: 30px;
}
.feedback__header::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  height: 10px;
  width: 220px;
  background-color: rgba(0, 38, 29, 0.3);
}

.feedback__img-wrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}

.feedback__img {
  width: 130px;
  height: 130px;
  margin-bottom: 27px;
}

.feedback__icon {
  position: absolute;
  left: 90px;
  top: 90px;
}

.feedback__tytle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.3;
  color: #005541;
  text-align: center;
  margin-bottom: 18px;
}

.feedback__text {
  font-style: italic;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3;
  color: #333333;
}

.statistic {
  padding-top: 50px;
  padding-bottom: 50px;
}

.statistic__header {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.statistic__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 15px;
}

.statistic__item {
  width: calc(50% - 7.5px);
  height: 170px;
  padding: 25px;
  background: #f6f6f8;
  border: 1px solid #dbdbed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.statistic__tytle {
  font-size: 14px;
  line-height: 1.3;
  color: #333333;
}

.statistic__value {
  font-weight: 600;
  font-size: 30px;
  line-height: 1;
  display: flex;
  color: #333333;
}

.contacts {
  padding-bottom: 50px;
}

.contacts_header {
  position: relative;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3;
  color: #333333;
  text-align: center;
  margin-bottom: 30px;
}
.contacts_header::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  height: 10px;
  width: 120px;
  background-color: rgba(0, 38, 29, 0.3);
}

.contacts__text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.contacts__tel,
.contacts__mail {
  display: block;
  font-size: 16px;
  line-height: 1.3;
  color: #005541;
}

.contacts__tel {
  margin-bottom: 15px;
}

.contacts__mail {
  margin-bottom: 30px;
}

.contacts__link {
  display: inline-block;
}

.contacts__link + .contacts__link {
  margin-left: 20px;
}

.oder-form {
  margin-top: 40px;
}

.oder-form__label {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
}

.oder-form__input {
  display: block;
  width: 100%;
  max-width: 375px;
  min-width: 320px;
  height: 44px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.oder-form__textarea {
  display: block;
  width: 100%;
  max-width: 375px;
  min-width: 320px;
  height: 115px;
  margin-bottom: 15px;
  margin-top: 10px;
}

.oder-form__button {
  width: 147px;
  height: 47px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #005541;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}

.footer {
  height: 101px;
  background-color: #00261d;
  text-align: center;
  position: relative;
}

.footer-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}/*# sourceMappingURL=main.css.map */